$color-bg: #b9b7a7;
$color-bg-variant: #b5aa9d;
$color-primary: #4e5166;
$color-light: #7c90a0;
$color-primary-variant: #747274;
$color-white: #fff;

$width-lg: 75%;
$width-md: 86%;
$width-sm: 90%;

$transition: all 400ms ease;
