@import "../../styles/_variables";

.header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;

  &__container {
    height: 100%;
    position: relative;
  }

  &__tags {
    color: $color-primary;
    opacity: 0.6;
    position: absolute;
    font-size: 1.3rem;
    font-family: "La Belle Aurore", cursive;

    &.top-tag {
      bottom: auto;
      top: 35px;
      right: 0px;
    }
  }
}
