@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "./styles/_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: $color-white;
  background-color: $color-bg;
  line-height: 1.7;
}

.container {
  width: $width-lg;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
  height: 100vh;

  & > h2 {
    text-align: center;
    color: $color-primary;
    margin-bottom: 3rem;
  }

  & > h5 {
    text-align: center;
    color: $color-light;
  }
}

.text-light {
  color: $color-light;
}

a {
  color: $color-primary;
  transition: $transition;

  &:hover {
    color: $color-white;
  }
}

.btn {
  width: max-content;
  display: inline-block;
  color: $color-primary;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid $color-primary;
  transition: $transition;

  &-primary {
    background-color: $color-primary;
    color: $color-bg;
  }

  &:hover {
    background-color: $color-white;
    color: $color-bg;
    border-color: transparent;
  }
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .container {
    width: $width-md;
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: $width-sm;
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
